<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloWorld" class="com.dileep.HelloWorld">
		<property name="message1" value="Hello World!"></property>
		<property name="message2" value="Hello World2!"></property>
	</bean>

	<bean id="helloSriLanka" class="com.dileep.HelloSriLanka" parent="helloWorld">
	    <property name="message1" value="Hello Sri Lanka!"></property>
	    <property name="message3" value="Ayubowan Sri Lanka!"></property>
	</bean>
</beans>

<!-- <?xml version="1.0" encoding="UTF-8"?> -->

<!-- <beans xmlns="http://www.springframework.org/schema/beans" -->
<!--     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" -->
<!--     xsi:schemaLocation="http://www.springframework.org/schema/beans -->
<!--     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> -->

<!--    <bean id="beanTeamplate" abstract="true"> -->
<!--       <property name="message1" value="Hello World!"/> -->
<!--       <property name="message2" value="Hello Second World!"/> -->
<!--       <property name="message3" value="Namaste India!"/> -->
<!--    </bean> -->

<!--    <bean id="helloSriLanka" class="com.dileep.HelloSriLanka" parent="beanTeamplate"> -->
<!--       <property name="message1" value="Hello India!"/> -->
<!--       <property name="message3" value="Namaste India!"/> -->
<!--    </bean> -->

<!-- </beans> -->